PINECONE_INDEX_NAME=
PINECONE_API_KEY=

NEON_DATABASE_URL=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

OPENAI_API_KEY=

CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

TAVILY_API_KEY=

LLAMAPARSE_API_KEY=

JWT_SECRET=